html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Merienda One', cursive;
  background-color: #B1272D;
  color: #EEE;
}

a {
  color: #66ccff;
}

a:hover, a:focus {
  color: #4dc3ff;
}

hr {
  border: 1px solid #600;
}

#header {
  background-color: #770000;
}

#header h1 {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  font-size: 3em;
}

#header h1 img {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#lead {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-family: 'Merienda', cursive;
}

#events {
  font-size: 1.5em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
}

#events li {
  border: 1px solid #af0000;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #57a557;
}

.nav-pills > li > a {
  color: #FFF;
  background-color: #700;
}

.nav-pills .event-date {
  font-size: 0.6em;
}

.nav-pills > li:hover > a, .nav-pills > li:focus > a {
  background-color: #af0000;
  color: #FFF;
}

#event-details {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 1.3em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#map {
  height: 100%;
  width: 100%;
  margin: 0 auto 0 auto;
  border: 5px solid #CC0000;
  border-style: groove;
  position: relative;
}

footer {
  text-align: center;
  padding-bottom: 2em;
}

[v-cloak] {
  display: none;
}
