html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Merienda One', cursive;
  background-color: #990000;
  color: #FFF;

}

a {
  color: #66ccff;
}

a:hover, a:focus {
  color: #4dc3ff;
}

.container-fluid {
  width: 100%;
  height: 100%;
}

#header {
  background-color: #660000;
}

#header img {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

#header h1 {
  font-size: 3em;
}

#lead {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-family: 'Merienda', cursive;
}

#events {
  font-size: 1.5em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
}

#events li {
  border: 1px solid #A00;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #006000;
}

.nav-pills > li > a {
  color: #FFF;
}

.nav-pills > li:hover > a, .nav-pills > li:focus > a {
  background-color: #AA0000;
  color: #FFF;
}

#event-details {
  font-family: 'Merienda', cursive;
  margin-top: 2em;
  margin-bottom: 2em;
}

#map {
  height: 50%;
  width: 65%;
  margin: 0 auto 0 auto;
  border: 5px solid #CC0000;
  border-style: groove;
  position: relative;
}

footer {
  text-align: center;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

[v-cloak] {
  display: none;
}
