html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Merienda One', cursive;
  background-color: #990000;
  color: #FFF;

}

.container-fluid {
  width: 100%;
  height: 100%;
}

#page-header {
  background-color: #660000;
  padding-bottom: 1em;
}

h1 {
  text-align: center;
  font-size: 3.5em;
}

#events {
  font-size: 1.2em;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #006000;
}

.nav-pills > li > a {
  color: #FFF;
}

.nav-pills > li:hover > a, .nav-pills > li:focus > a {
  background-color: #AA0000;
  color: #FFF;
}

#event-details {
  font-family: 'Merienda', cursive;
}

#map {
  height: 60%;
  width: 80%;
  margin: 0 auto 0 auto;
  border: 5px solid #CC0000;
  border-style: groove;
}

[v-cloak] {
  display: none;
}
